@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	color-scheme: light dark;
}

@font-face {
	font-family: 'GongFanNuFangTi';
	src: url('./assets/fonts/GongFanNuFangTi.ttf') format('truetype');
}
